<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>owo</title>
<style>
	body {
		color:	white;
		background-color:	black;
		font-family:	monospace;
	}

	#header {
		margin-left:1.3em;
	}

	#info {
		font-weight: bold;
	}

	ul {
		list-style-type: none;
	}

	td, th {
 		border:	1px solid #dddddd;
  		text-align: left;
  		padding: 8px;
		vertical-align: top;
		min-width:256px;
	}

	#piMem-td {
		width:256px;
	}

	#container {
		display: flex;
		flex-wrap: wrap;
	}
	
	#filesystems {
		width:50%;
		display:flex;
		flex-wrap:wrap;
	}
	.fs_value {
		min-width: 300px;
	}

	button {
		background-color: #000;
		border: 1px solid #dddddd;
		color: #fff;
		padding: 8px 16px;
		text-align: center;
		text-decoration: none;
		font-family: monospace;
		display: inline-block;
		font-size: 13px;
		margin: 4px 2px;
		transition-duration: 0.4s;
		cursor: pointer;
		font-weight: bold;
	}

	button:hover {
		background-color:#dddddd;
		color:#000;
	}
</style>
