<!DOCTYPE html>
<html lang="en">
<head> <%- include("../partials/head"); %> </head>
<body>
	<div id="header"> <%- include("../partials/header"); %> <p id="infotable">
			<span id="warning"></span>
			<span id="success"></span>
		</p>
	</div>
	<div id="content">
		<div id="container"> <%- include("../partials/sys_stats"); %> </div>
	</div>
	<script src="/chart.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/main.js"></script>
</body>
</html>